{namespace Dashboard.Item.Tutorial.Templates}

/**
* @param pluginName
* @param version
* @param buttonText
*/
{template .Static}
<div>Welcome to <span class="aui-lozenge aui-lozenge-success">{$pluginName}</span> v{$version}!</div>
<div>Here is a Button!<button class="aui-button aui-button-primary">{$buttonText}</button></div>
{/template}